<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc  
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">

		<!-- 视图解析器 -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix" value="/WEB-INF/jsp/"/>
			<property name="suffix" value=".jsp" />
		</bean>
		<!-- 注解驱动 -->
		<mvc:annotation-driven></mvc:annotation-driven>
		
		<!-- 控制器扫描器 -->
		<context:component-scan base-package="cn.ssm.controller"/>
		
		<!-- 配置全局异常处理 -->
		<bean class="cn.ssm.exception.CustomHandlerExceptionResolver"></bean>
		
		<!-- 文件上传，解析form表单 -->
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<property name="maxUploadSize">
				<value>5242880</value>
			</property>
		</bean>
		
		<!-- 全局拦截器，多个拦截器，顺序执行。 -->
		<mvc:interceptors>
			<mvc:interceptor>
				<mvc:mapping path="/**"/>
				<bean class="cn.ssm.handlerInterceptor.LogInterceptor"/>
			</mvc:interceptor>
			<mvc:interceptor>
				<mvc:mapping path="/**"/>
				<bean class="cn.ssm.handlerInterceptor.LoginInterceptor"/>
			</mvc:interceptor>
		</mvc:interceptors>
		
</beans>